#registration-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1ch;
}

/* .error-message {
  font-size: 0.75rem;
  color: red;
} */

@media only screen and (max-width: 600px) {
  #got-account {
    margin-top: 9rem;
  }
}

@media only screen and (min-width: 600px) {
  #got-account {
    margin-top: 6rem;
  }
}
