/* root vars for container, so that they match evenly */
:root {
  --min-width: 40ch;
  --width: 25vw;
}

#card-tracks-whole-component-box {
  margin: auto;
  max-width: fit-content;
}

#card-tracks-container {
  display: grid;
  justify-content: start;
  min-width: var(--min-width);
  width: fit-content;
}

#card-tracks-wrap-for-button-placement {
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 2ch;
}

#card-tracks-cover-image-tracks {
  width: 100px;
  height: 100px;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  margin: 10px;
  border-radius: 2ch;
}

#card-tracks-heading {
  align-self: flex-end;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  margin: 0;
  padding-top: 0;
  text-align: left;
  font-size: 1.5rem;
}

#card-tracks-subheading {
  align-self: flex-start;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  margin: 0;
  text-align: left;
  font-size: 1.2rem;
}

#card-tracks-divider {
  width: 30vw;
  margin: auto;
  padding-top: 1rem;
}

#card-tracks-add-to-quere-button {
  width: calc(var(--min-width) / 5);
}

#card-tracks-menu-button {
  font-size: 3rem;
}
