#card-container {
  display: grid;
  width: 25vw;
  margin: auto;
  gap: 0.75rem;
}

#card-cover-image-playlists {
  width: 64px;
  height: 64px;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  padding-right: 5px;
  border-radius: 30%;
}

#card-heading {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0;
  text-align: left;
  margin: 1rem 0 0 0;
}

#card-subheading {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 0;
  text-align: left;
}

#card-divider {
  width: 30vw;
  margin: auto;
  padding-top: 1rem;
}

/* #card-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    #card-cover-image {
      width: 64px;
      position: relative;
    } */
