#artist-description {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 0.9rem;
}

.section-headlines {
  text-align: left;
}

#artist-body-container {
  margin: 2rem 1rem 1rem 1rem;
}

#artist-flex-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
